# Ignore articles directory and all its contents
articles/

# Ignore task folder and all its contents
task/

# Ignore logs directory and all its contents
logs/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store

# Ignore virtual environments
venv/
.envrc

# Ignore any backup or temp files
*~
*.swp
